/* Common CSS start */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
    margin: 0; 
    padding: 0;
}
* {
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}

html {
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, form {
    margin: 0; 
    padding: 0; 
    list-style: none; 
    font-weight: normal;
}

button, input, select, textarea {
    margin: 0; 
    padding: 0; 
    border: none;
}

body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.custfield:focus {
    outline: none; 
    border: none; 
    box-shadow: none; 
    -moz-box-shadow: none; 
    -webkit-box-shadow: none;
}

body {
    font-size: 14px; 
    color: #000000; 
    margin: 0px; 
    height: auto;
}

a {text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none; 
    outline: none;
}

img {
    border: none; 
    vertical-align: middle; 
    max-width: 100%
}

::-webkit-input-placeholder {font-size: 18px;}

::-moz-placeholder {font-size: 18px;}

:-ms-input-placeholder {font-size: 18px;}

:-moz-placeholder {font-size: 18px;}

a{
    transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1230px;
    padding: 0px 15px;
}

p, span, a{ font-family: Roboto; color: #000; }

h1,h2,h3,h4{ font-family: Roboto; color: ##4F4F4F; text-transform: capitalize;}


/*common css end*/

/*heade start*/

.header-contain {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.logo {
    width: 8%;
    margin:10px 0px 0px 15px;
}
.navbar {

    width: 90%;
    margin: auto;
    display: block;
}
.toggle{ /*width: 20%;*/ display: none;}

ul#header-nav {
    display: flex;
    justify-content: flex-end;
}
ul#header-nav li a{
    font-size: 16px;
    font-weight: 500;
    font-family: OpenSans;
    padding: 10px 15px;
    margin:0px 10px; 
    color: #fff;   
}

ul#header-nav li .active{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 9px 18px 12px 18px
}

a.flag-icon i{
    padding-left: 10px;
    color: #fff;
}
/*heade end*/

/*header banner start*/

.header-back{
    background-image: url('../images/group-35.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner{
    width: 100%;
    padding: 100px 0px;
}
.lorem-text {
    width: 90%;
    margin-left: 55px;
}

h2.page-title {
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    color: ;
    text-align: center;
}

.lorem-text h2{ color: #fff; }

.fa-check:before {
    content: "\f00c";
    padding-right: 5px;
}
li.link-list {
    margin-bottom: 10px;
}
li.link-list a {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    color: #fff;
}

span.icon {
    color: #fff;
}

.banner-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.banner-btn a {
    background-color: #006072;
    padding: 15px 30px;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid #fff;
    color: #fff;
}

.images-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-box {
    width: calc(8% - 20px);
    margin: auto 20px;
    text-align: center;
}

.image-box p{ color: #fff!important; }

p.paragraph {
    font-size: 18px;
    padding-top: 15px;
    color: #000;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.page-down{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.page-down i{
    color: #fff;
    font-size: 20px;
    padding: 11px 12px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.lorem-text h2{ text-align: left; }

/*header banner end*/

/*about start*/

.about-us{
    width: 100%;
    padding: 50px 0px;
}

.about-content h2{
    text-align: center;
    color: #000;
}

.about-feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-box{
    width: calc(30% - 30px);
    margin: 30px;
    text-align: center;
}
h3.sub-title{
    color: #000;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.about-box p{
    color: #000;    
}

.about-box img{

}
/*about end*/

/*constucture start*/

section.consectetur {
    position: relative;
}

.consectetur-content {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    overflow-x: hidden;
    margin-left: 100px;
}
.left-text{
    width: 48%;
    margin: auto;
}
.right-image{ width: 48%; }

.back-img-left{
    background-image: url('../images/blog-left-bg.png');
    background-position: unset;
    background-repeat: no-repeat;
    height: 200px;
}
.back-img-right{
    background-image: url('../images/blog-right-bg.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 200px;
}

/*constucture end*/

/*blog start*/

.blog-section{ 
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    justify-content: space-between;
 }

 .blog-box{
    width: calc(30% - 30px); 
    margin: 0px 30px;
    box-shadow: 2px 2px 20px #a3a3a3;
 }

 .blog-section h2{
    color: #000;
    text-align: center;
 }

 ul.blog-meta {
    color: gray;
    margin-top: 10px;
}
.blog-text {
    padding:0px 20px 20px 20px;
}
.blog-btn a {
    font-size: 16px;
    color: #000;
}
.blog-btn{
    margin-top: 20px;
}
i.fa.fa-long-arrow-right {
    padding-left: 10px;
    margin: auto;
}

/*blog end*/

/*testimonial start*/

.testimonial-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.client{
    width: calc(30% - 30px);
    margin: 0px 30px; 
    border: 1px solid gray;
    border-radius: 5px;
    border-left-color: ;
    box-shadow: -2px 0px #006072;
    padding: 20px;
    background-color: #fff;
}

.testimonial{ padding: 50px 0px; background-color: #F4F5F9;}

.client-image{ width: 30%; }

.client-image img{ 
    width: 100%;
    object-fit: contain;
}

.client-name{
    width: 42%;
    margin: auto 0px;
}

.uper{
    display: flex; 
    justify-content: space-between;
}

.msg-img {
    width: 16%;
    margin-top: -10px;
    /* margin-left: 18px; */
}

.msg-img img{
    margin-left: 25px;
}

.client-name h4 {
    font-size: 20px;
    font-weight: 700;
}

.client-name p{
    color: gray;
}
/*.container h2{
    text-align: center; 
    margin: 0px auto;
}*/

.newsletter{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 50px;
}

.page-up{ width: 10%; margin: auto 0px;}

.conatc-btn{ width: 10%;  margin: auto 0px;}

.newsletter-form{ width: 80%; }

.page-up img {
    width: auto;
    background-color: #525252;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.newsletter-form h3{
    font-size: 23px;
    color: #000;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
input[type="email"]{
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid #000;
    width: 35%;
    background-color: transparent;
    text-transform: capitalize;
}

input[type="email"]::placeholder{ font-size: 16px; }

input[type="submit"]{
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #FF7B6D;
    padding: 8px 10px;
    border-radius: 20px;
    margin-left: 20px;
}

form {
    display: flex;
    justify-content: center;
}
/*testimonial end*/

/*footer start*/

.footer-one{
    background-color: #111111;
    padding: 10px 0px;
}
.footer-two{
    background-color: #242424;
}

.footer-social{
    width: 4%;
    margin: auto;
}

.footer-navbar{
    width: 76%;
    margin: auto;
}
.footer-before{
    display: flex;
}
ul#footer-nav {
    display: flex;
    justify-content: center;
}
ul.socail-media {
    display: flex;
    justify-content: flex-end;
}

ul#footer-nav li a{
    color: #fff;
    font-size: 16px;
    padding: 0px 10px;
    text-transform: uppercase;
}

ul.socail-media li a{
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
}

.copright{
    display: flex;
    padding: 20px 0px;
}

.footer-copyright{ width: 80%; margin: auto;}

.ok-btn{ width: 20%; margin: auto; text-align: right;}

.footer-copyright a{
    color: #97afd5;
    font-size: 16px;
}
.footer-copyright h6{
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.ok-btn a{
    color: #fff;
    background-color: #EED507;
    padding: 8px 13px;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
}

/*footer end*/